<link rel="stylesheet" href="/css/faca-seu-pedido.css">

{{#each errors}}
    <div class="alert alert_error">{{text}}</div>
{{else}}

{{/each}}
<form action="/admin/new_several" method="POST">
    <div class="container">
        <h1>Adicionar Pizza</h1>
        
        <div class="form-control">
            <label for="">Tipo: </label>
            <select name="type" id="type">
                <option value="diverso">Diverso</option>
                <option value="bebida">Bebida</option>
            </select>
        </div>
        
        <div class="form-control">
            <label for="">Nome: </label>
            <input name="name" id="name" type="text-area">
        </div>
        
        <div class="form-control">
            <label for="">Descrição: </label>
            <textarea name="description" id="description" cols="47" rows="10"></textarea>
        </div>
        <div class="form-control">
            <label for="">Preço: </label>
            <input name="price" id="price" value="R$ -" type="text">
        </div>
        <div>
            <a href="#"><button type="submit" class="btn-faca-seu-pedido">Adcionar ao Cardápio</button></a>
        </div>
    </div>



</form>