<link rel="stylesheet" href="/css/admin_page.css">

<div class="background_image_pizzeria_menu">
<nav>
    <div class="admin_menu_btn">
        <a href="/admin/add_menu"><button>Adicionar Pizzas</button></a>
    </div>
    <div class="admin_menu_btn">
        <a href="/admin/add_several"><button>Adicionar Bebidas</button></a>
    </div>
    <div class="admin_menu_btn">
        <a href="/admin/add_several"><button>Adicionar Diversos</button></a>
    </div>
    <div class="admin_menu_btn">
        <a href="/admin/delete_menu"><button>Deletar Cardápio</button></a>
    </div>
    <div class="admin_menu_btn">
        <a href="/admin/request"><button>Pedidos</button></a>
    </div>
</nav>