<link rel="stylesheet"  href="/css/footer.css">

<footer>
    <div class="footerList">
    <ul>
        <li>TERMOS E CONDIÇÕES  |</li>
        <li>TRABALHE CONOSCO  |</li>
        <li>NOSSAS UNIDADES  |</li>
        <li>SOBRE NÓS|</li>
    </ul>
    </div>

    <div class="footerIcons">
        <img src="/img/facebookFooter.png" alt="">
        <img src="/img/instagramFooter.png" alt="">
    </div>
    <div class="footerIcons2">
    <img src="/img/pizzaprime-footer-logotipo-2020.png" width="284px" height="122px" alt="">
    </div>

    <div>
    <p class="footerCopy">© 2022 - Todos os direitos reservados a Pizza Prime  |  By Agência HypeLab.</p>
    </div>
    
</footer>
