<link rel="stylesheet" href="css/header.css">

<header>

    <img class="logo_main" src="img/pizzaprime-logotipo-2020@2x.png" alt="logo" width="284" height="120">
    
    <div class="headerList">
    <ul>
        <li>INÍCIO</li>
        <li>FAÇA O SEU PEDIDO</li>
        <li>NOSSAS UNIDADES</li>
        <li>SOBRE NÓS</li>
    </ul>
    </div>
    <p class="image_icons">
        <img src="img/instagram.png" alt="" width="25px" height="25px">
        <img src="img/facebook.png" alt="" width="25px" height="25px">
        
    </p>
    
</header>