body{
    background-image: url("https://i.pinimg.com/originals/90/43/a7/9043a730ef9d90e2b2e6c92265939457.jpg");
}

.request_menu{
    background-color: #E19F0C;
    width: 80%;
    padding: 10px 14px;
    border-radius: 20px;
    margin-left: 65px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.request_menu h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6B0005;
    width: 500px;
}

.request_menu p{
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.empty_request h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-bottom: 600px;
    margin-top: 200px;
}

.request_red_button{
    
    appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 100px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.request_red_button{
    background: #e74c3c;
    color: #ffffff;
}
