*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F1EDEA;
}

.request2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 12px;
}

.request_online2 button{
    font-weight: bold;
    padding: 11px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-width: 10px;
    border: solid;
    border-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    transition: 1s;


 } 
.request_online2 button:hover{
    transition: 1s;
    background-color: rgb(107, 0, 5);
}

.indexImages{
    width: 100%;
}

a{
    text-decoration: none;
}

.alert_error{
    width: 50%;
    margin: 10px auto;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
}

.alert_success{
    width: 50%;
    margin: 10px auto;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    background-color: rgb(215, 248, 217);
    border-color: rgb(49, 253, 22);
    color: rgb(28, 114, 50);
}
