.section_unit_places{
    text-align: center;
    margin: auto;
    background-image: url("../img/unit_places/pizza-prime-bg-title-bar.jpg");
    height: 300px;
    padding-top: 135px;
    box-shadow: 1px 3px 12px 0px rgba(0,0,0,0.77);

}

.section_unit_places h1{
    color: #dab225;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.section_unit_places span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.unit_places{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.unit_places_image{
    padding: 20px;
}

.unit_places_image p{
    background-color: #cc2c2c;
    padding: 20px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: -5px;
    text-align: center;
}

.unit_places_image img{
    width: 313px;
    height: 249px;
}