<link rel="stylesheet" href="/css/terms.css">

<section>
        <div class="section_terms">
            <h1>Termos e Condições</h1>
            <span>home / unidades</span>
        </div>
</section>

<div class="text_terms">
    <p>Ao acessar as páginas da PIZZA PRIME na internet, seja por aplicativo mobile ou pelo site, você está automaticamente concordando com estes termos e condições:</p>

    <h3>CONTEÚDO GERAL</h3>

    <p>Pode acontecer de algumas das informações contidas no nosso site conterem erros tipográficos, incorreções ou omissões relacionadas à descrição dos produtos, preços e disponibilidade. A PIZZA PRIME se reserva ao direito de corrigir erros e omissões, modificando e atualizando as informações a qualquer hora, sem comunicação prévia. Esta norma nunca irá contra os valores e ética da empresa.</p>

    <h3>INFORMAÇÕES DE PRODUTOS</h3>
    <p>As informações sobre preços e disponibilidade de produtos estão sujeitas a alterações sem aviso prévio.</p>

    <p>Os preços nos canais online podem ser diferentes daqueles praticados em lojas físicas ou outros canais de vendas.</p>

    <h3>FOTOS E ILUSTRAÇÕES</h3>

    <p>Nossa estrutura foi montada para que as fotos apresentadas nos canais online sejam da melhor qualidade possível. Mesmo assim, é possível que algumas cores e ilustrações tenham um tom diferente no seu monitor ou na sua tela. Por isso, sua exatidão não pode ser garantida pelos canais online. Todas as imagens em nosso site são meramente ilustrativas.</p>

    <h3>LINKS</h3>

    <p>O site da PIZZA PRIME e, principalmente, o domínio PIZZA PRIME podem conter links para outros websites. A PIZZA PRIME não se responsabiliza pelas informações cedidas por outros sites ou por qualquer dano que, por acaso, aconteça por conta disso. O objetivo dessa operação é de exclusivo caráter informativo.</p>

    <h3>PRIVACIDADE</h3>

    <P>Ao se cadastrar no site da PIZZA PRIME BRASIL você fornecerá informações e dados pessoais que serão armazenados em nossos servidores e serão mantidos em sigilo. A PIZZA PRIME se compromete a não comercializar ou compartilhar com terceiros os seus dados, salvo por obrigação legal ou entre empresas do seu grupo econômico. Os dados inseridos no momento da compra poderão ser utilizados para contato por parte das lojas e para envio de comunicados e promoções via e-mail e número de telefone cadastrado.</P>

</div>