<link rel="stylesheet" href="/css/work_with_us.css">


<section>
        <div class="section_work">
            <h1>Trabalhe Conosco</h1>
            <span>home / trabalhe conosco</span>
        </div>
</section>

<div class="red_center">
    <h1 class="red_center_h1">O MELHOR LUGAR PARA</h1>
    <h1 class="red_center_yellow">CRESCER É AQUI</h1>
</div>
<div class="question_work">
    <h1>Porque fazer parte da Pizza Prime?</h1>
</div>
<div class="text_work">
        <p>Na Pizza Prime prezamos pelo desenvolvimento pessoal e capacitação profissional de todos nossos colaboradores. Por isso, se você tiver vontade de aprender, espírito de equipe e proatividade, mande seu currículo para nós ou vá até uma de nossas lojas pessoalmente para a gente te conhecer! ?</p>
        <p class="email_text">pizzaprimecv@gmail.com</p>
</div>