<link rel="stylesheet" href="/css/faca-seu-pedido.css">


<form action="/header/novo-pedido" method="POST">
    <div class="container">
        <h1>FAÇA SEU PEDIDO</h1>
        <div class="form-control">
            <label for="">Tipo: </label>
            <select name="tipo" id="tipo">
                <option value="grande">Grande</option>
                <option value="doce">Média</option>
                <option value="pequena">Pequena</option>
            </select>
        </div>
        <div class="form-control">
            <label for="">Sabor: </label>
            <input name="sabor" id="sabor" type="text">
        </div>
        <div class="form-control">
            <label for="">Bebidas: </label>
            <input name="bebidas" id="bebidas" type="text">
        </div>
        <div class="form-control">
            <label for="">Endereço: </label>
            <input name="endereco" id="endereco" type="text">
        </div>
        <div class="form-control">
            <label for="">Telefone: </label>
            <input name="telefone" id="telefone" type="text">
        </div>
        <div>
            <a href="#"><button type="submit" class="btn-faca-seu-pedido">Fazer Pedido</button></a>
        </div>
    </div>



</form>