<link rel="stylesheet" href="/css/faca-seu-pedido.css">

<form action="">
    <div class="container">
        <h1>FAÇA SEU PEDIDO</h1>
        <div class="form-control">
            <label for="">Tamanho: </label>
            <input type="text">
        </div>
        <div class="form-control">
            <label for="">Sabor: </label>
            <input type="text">
        </div>
        <div class="form-control">
            <label for="">Bebidas: </label>
            <input type="text">
        </div>
        <div class="form-control">
            <label for="">Endereço: </label>
            <input type="text">
        </div>
        <div class="form-control">
            <label for="">Telefone: </label>
            <input type="text">
        </div>
        <div>
            <a href="#"><button>Fazer Pedido</button></a>
        </div>
    </div>



</form>