<link rel="stylesheet" href="/css/faca-seu-pedido.css">


<form action="/header/new_request" method="POST">
    <div class="container">
        <h1>FAÇA SEU PEDIDO</h1>
        <div class="form-control">
            <label for="">Tipo: </label>
            <select name="size" id="size">
                <option value="grande">Grande</option>
                <option value="doce">Média</option>
                <option value="pequena">Pequena</option>
            </select>
        </div>
        <div class="form-control">
            <label for="">Sabor: </label>
            <input name="flavor" id="flavor" type="text" placeholder="maximo de três sabores">
        </div>
        <div class="form-control">
            <label for="">Bebidas: </label>
            <input name="drink" id="drink" type="text">
        </div>
        <div class="form-control">
            <label for="">Endereço: </label>
            <input name="address" id="address" type="text">
        </div>
        <div class="form-control">
            <label for="">Telefone: </label>
            <input name="telephone" id="telephone" type="number">
        </div>
        <div>
            <a href="#"><button type="submit" class="btn-faca-seu-pedido">Fazer Pedido</button></a>
        </div>
    </div>



</form>