<link rel="stylesheet" href="/css/unidades.css">

<section>
        <div class="section-unidades">
            <h1>UNIDADES</h1>
            <span>home / unidades</span>
        </div>
</section>
    
    <div class="unidades">
        <div class="unidade-image">
            <img src="/img/unidades/pizza-prime-unidades-amapa.jpg" alt="">
            <p>Amapa</p>
        </div>
        <div class="unidade-image">
            <img src="/img/unidades/pizza-prime-unidades-minas-gerais.jpg" alt="">
            <p>Minas Gerais</p>
        </div>
        <div class="unidade-image">
            <img src="/img/unidades/pizza-prime-unidades-para.jpg" alt="">
            <p>Para</p>
        </div>
        <div class="unidade-image">
            <img src="/img/unidades/pizza-prime-unidades-rio-grande-do-sul.jpg" alt="">
            <p>Rio Grande do Sul</p>
        </div>
        <div class="unidade-image">
            <img src="/img/unidades/pizza-prime-unidades-sao-paulo-v2-1.jpg" alt="">
            <p>São Paulo</p>
        </div>
        <div class="unidade-image">
            <img src="/img/unidades/pizza-prime-unidades-santa-catarina.jpg" alt="">
            <p>Santa Catarina</p>
        </div>
    </div>
